<!DOCTYPE html>
<html>
  <head>
    <title>MineSweeper</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="board-background">
        <div v-for="(width, index1) in width_of_board">
          <div
            class="tile-background"
            v-for="(height, index2) in height_of_board"
            @click="(tileClick(index1, index2))"
            @contextmenu="tileRightClick(index1,index2, $event)"
          >
            <div class="mine" v-if="populateTileWithMine(index1,index2)"></div>
            <h1 v-if="populateTileWithNumber(index1, index2)">
              {{populateTileWithNumber(index1,index2)}}
            </h1>
            <div class="tile-cover" v-if="tileCovered(index1, index2)"></div>
            <div class="flag" v-if="tileFlagged(index1,index2)"></div>
          </div>
        </div>
      </div>
      <div id="button-container">
        <button @click="startGame()">Start Game</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
