.board-background {
  background-color: grey;
  height: 450px;
  width: 450px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* .test1 {
  width: 10px;
  height: 10px;
  background-color: red;
  margin: 5px;
} */

.tile-background {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number {
  font-size: 18px;
  color: white;
}

.mine {
  width: 15px;
  height: 15px;
  background-color: red;
}

.flag {
  width: 12px;
  height: 12px;
  background-color: green;
  position: absolute;
}

.tile-cover {
  width: 20px;
  height: 20px;
  background-color: lightgrey;
  position: absolute;
  cursor: pointer;
}

#button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
